@value colors: "../variables.css";
@value background_1 from colors;

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: background_1;
}

.content {
  flex: 1;
}