.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background_1);

  font-size: 16px;
  color: var(--text_1);
  line-height: 1.2;
}

.content {
  height: 100%;
  overflow-y: auto;
  padding: 5px 10px;
}

@media print {
  .page {
    background-color: transparent;
  }
}
