@value colors: "../../variables.css";
@value background_2, text_1 from colors;

.component {
  background-color: background_2;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}

.component h3 {
  color: text_1;
  font-size: 1.2rem;
  font-family: 'Playfair Display', serif;
  
  margin: 0 0 15px;
  padding: 0;
  height: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigTitle h3 {
  height: 40%;
}

@media screen and (min-width: 320px) {
  .component {
    width: 170px; 
    height: 225px;
    margin: 2px;
  }  
}

@media screen and (min-width: 1024px) {
  .component {
    width: 250px; 
    height: 300px;
    margin: 5px;
  }  
}
