@value colors: "../../variables.css";
@value primary_2, text_1 from colors;

.page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    h1 {
        text-align: center;
    }
    
    h2 {
        margin-top: 40px;
    }
}

.header{
    height: 40px;
    margin-bottom: 20px;
}

.footer{
    height: 60px;
}


.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 80%;
    color: text_1;

    .infoBox {
        margin-bottom: 0.5rem;
        display: flex;

        .infoLabel {
            font-weight: bold;
            margin-right: 10px;
        }
    }    
}

.button {
    width: 100px;
    height: 40px;
}