@value colors: "../../variables.css";
@value primary_1, primary_2, primary_3, text_1 from colors;

.preview {
    display: flex;
    align-items: center;
    
    .content{
        width: 60%
    }

    .image {
        margin: 25px;
    }
}

h1, h2 {
    color: primary_2
}

.contentItem {
    margin-top: 5px;

    svg {
        height: 100%;
        fill: transparent;
        stroke: text_1;
    }
}

.ratingIcon {
    height: 30px;
    width: 30px;

    svg {
        width: 100%;
    }

    &.filled{
        svg {
            fill: primary_2;
            stroke: primary_3;
        }
    }
}

.popularity {
    display: flex;
    align-items: center;
}

.visitsStatistics {
    height: 30px;
    margin-right: 5px;
    svg {
        stroke: primary_2;
    }
}

.favoriteIcon {
    height: 30px;
    width: 30px;

    svg {
        width: 100%;
        height: 100%;
        stroke: primary_3;
    }
    
    &.filled{
        svg {
            fill: primary_2;
            opacity: 0.8;
        }
    }
}

.propertyLabel {
    font-weight: bold;
    margin-right: 5px;
}

.ingredients {
    padding-left: 50px; 

    li { 
      padding-left: 5px;
      margin-top: 10px;
      position: relative;
  
      /* &::marker {} */
      
      &:before {
        content: '';
      }
  
      &:nth-child(odd){
          &::marker {
              color: primary_2;
          }
      } 
  
      &:nth-child(even){
          &::marker {
              color: primary_3;
          }
      } 
    }
}

ol.steps { 
  padding-left: 50px; 

  li { 
    padding-left: 16px;
    margin-top: 24px;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    float: none;


    &::marker {
        font-weight: bold;
    }
    
    &:before {
      content: '';
      display: block;
      height: 42px;
      width: 42px;
      border-radius: 50%;
      border-width: 2px;
      border-style: solid;
      position: absolute;
      top: -12px;
      left: -35px;
    }

    &:nth-child(odd){
        &::marker {
            color: primary_2;
        }
        &:before { 
            border-color: primary_2; 
        }
    } 

    &:nth-child(even){
        &::marker {
            color: primary_3;
        }
        &:before { 
            border-color: primary_3; 
        }
    } 
  }
}

@media screen and (max-width: 700px) {
    .preview {
        flex-direction: column;
        margin-bottom: 10px;


        .image {
            margin: 5px;
        }

        .content{
            width: 100%
        }

        h1 {
            text-align: center;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: primary_1;
        margin: 0;
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .headerButtons{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .headerButton {
        width: 45px;
        height: 45px;
        
        svg {
            height: 100%;
            width: 100%;
        }
    }
}

.qrCode {
    display: none;
}

@media print {
    .content{
        width: 75% !important;
    }

    .qrCode {
        float: right;
        margin-top: -6cm;
        display:inline;
        background-color: unset;
        width: 4cm;
        height: 4cm;

        svg {
            path {
                fill: transparent;
            }
        }
    }
}