@value colors: "../../variables.css";
@value primary_1, primary_2, primary_3, text_1 from colors;


h1, h2 {
    color: primary_2
}

.content {
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        .itemLabel {
            margin-right: 5px;
            font-weight: bold;
            text-align: right;
            margin-right: 10px;
            
            max-width: 20%;
            width: 100%;
        }

        .input {
            height: auto;
            width: 70%;
            max-width: 500px;

            input {
                height: 2.5rem;
            }

            textarea {
                height: 10rem;
            }
        }

    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    .saveButton {
        min-width: 100px;
    }
}

