@value colors: "../../variables.css";
@value primary_1, primary_2, primary_3, text_1 from colors;

.content {
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        .itemLabel {
            margin-right: 5px;
            font-weight: bold;
            text-align: right;
            margin-right: 10px;
            
            max-width: 20%;
            width: 100%;
        }

        .input {
            height: auto;
            width: 70%;
            max-width: 500px;

            input {
                height: 2.5rem;
            }

            textarea {
                height: 10rem;
            }
        }

    }
}

@media screen and (max-width: 480px) {
.content {

    .item {
        flex-direction: column;
        align-items: flex-start;
        .itemLabel {
            margin-bottom: 5px;
            text-align: left;
        }
        .input {
            width: calc(100% - 20px);
        }
    }
}
}

