@value colors: "../variables.css";
@value primary_1, primary_2, primary_3, error_1 from colors;

.button {
  cursor: pointer;
  background-color: primary_1;
  border-style: solid;
  border-color: primary_2;
  color: primary_2;
  border-radius: 0.5rem;
  height: calc(2.5rem + 20px);
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease;
  padding: 10px;

  &.isLoading {
    opacity: 0.5;
  }
  
  &.disabled {
      opacity: 0.5;
      cursor: auto;
  }

  &:hover {
    border-color: primary_3;
    color: primary_3;
  }

  &.inline {
    border: none;
    background-color: unset;
    border-radius: 0;

    &:hover {
      border-bottom: 1px solid primary_2;
    }
  }

  &.error {
    border-color: error_1;
    color: error_1;
    
    svg {
      fill: error_1;
    }
  }

  &.icon {
    border: none;
    background-color: unset;
    border-radius: 0;
    padding: 0;
  }

  .loader {
    position: absolute;
    opacity: 0;

    width: 50%;
    height: 50%;

    left: 25%;
    top: 25%;

    &.isLoading {
      opacity: 1;
      transition   : opacity 0.3s ease;
    }
  }
}
