@value colors: "../variables.css";
@value primary_1, primary_2 from colors;

.button {
  cursor: pointer;
  background-color: primary_1;
  border-style: solid;
  border-color: primary_2;
  color: primary_2;
  border-radius: 0.5rem;
  
  &.disabled {
      opacity: 0.5;
      cursor: auto;
  }

  &.inline {
    border: none;
    background-color: unset;
    border-radius: 0;

    &:hover {
      border-bottom: 1px solid primary_2;
    }

  }
}
