@value colors: "../variables.css";
@value primary_2, primary_3 from colors;

.container {
  border-style: dashed;
  border-width: 3px;
  border-radius: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: primary_2;
  color: primary_2;

  &:hover {
    border-color: primary_3;
    color: primary_3;
  }
}

.input {
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
}