@value colors: "../variables.css";
@value primary_1, primary_2, background_2 from colors;

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input {
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
}

.arrow {
  border: solid primary_1;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  height: 15px;
  width: 15px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.options {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  z-index: 1;
  background-color: background_2;
  border: 1px solid primary_2;
  border-radius: 20px;
  opacity: 0.95;
  padding: 0px 15px 20px 15px;
  min-width: 300px;

  .closeButton {
    background-color: transparent;
    border: none;
    height: 30px;
    margin-top: 10px;
  }
}

.option {
	padding-top: 0.5rem;
  font-size: 1.2rem;
  
  label {
    cursor: pointer;
  }
}


@media screen and (max-width: 450px) {
  .options {
    left: -20px;
    width: calc(100vw - 20px);
  }
}