@value colors: "../variables.css";
@value primary_2, error_1, primary_3 from colors;

.container {
  width   : 100%;
  height: calc(2.5rem + 20px);
  
  &.disabled {
    pointer-events: none;

    & > input,
    & > textarea {
        color: primary_2;
    }
  }
}

.input {
  width        : calc(100% - 20px);
  height       : calc(100% - 20px);
  border       : 1px solid primary_2;
  border-radius: 0.5rem;
  outline      : none;
  transition   : border-color 0.3s ease;
  background-color: unset;

  &textarea {
    padding: 10px;
  }
  
  &input {
    padding: 10px;
  }

  &:focus {
      border-color: primary_3;
  }

  &::placeholder {
      color: primary_2;
      text-transform: capitalize;
  }

  &.error {
      border-color: error_1;
  }
}

