/* .component {

} */


.preview {
    display: flex;
    
    .content{
        width: 50%
    }
}

/* .ingredients {

}

.steps {

} */

@media screen and (max-width: 700px) {
    .preview {
        flex-direction: column;
        margin-bottom: 10px;

        .content{
            width: 100%
        }

        h1 {
            text-align: center;
        }
    }
}
