@value colors: "../../variables.css";
@value primary_1, primary_2, error_1 from colors;

.page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

.image {
    width: 100%;
    max-height: 600px;
    display: block;
    object-fit: contain;
    pointer-events: none;
    z-index: 2;
}

.paper {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px 5px 40px 25px;
    height: 440px;
    width: 165px;
    left: calc(50% - 95px);
    top: calc(50% - 180px);
    padding: 10px 25px 10px 10px;
    z-index: 1;
}

.content{
    flex: 1;
    width: 48%;
    font-size: 0.8rem;
}

.content .infoBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 0.4rem;
}

.content .infoBox .infoName{
    display: block;    
}

.content .infoBox .infoValue{
    display: block;
}

.header{
    height: 40px;
    width: 50%;
    text-align: center;
    font-weight: bold;
    color: primary_1;
    font-family: 'Playfair Display', serif;
}

.footer{
    height: 20px;
    margin-right: 20px;
    font-size: 0.6rem;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
    /* position: relative; */

    .copyToClipboard {
        height: 20px;
        width: 20px;
        margin-right: 5px;
        svg {
            stroke: primary_1;
        }
    }
}

.changlelog {
    position: absolute;
    z-index: 3;
    height: calc(100vh - 100px);
    width: 350px;
    right: 0;
    top: 0;
    overflow-y:auto;

    h3 {
        font-weight: bold;
        color: primary_2;
    }

    .release {
        .releaseTitle {
            display: flex;
            .version {
                font-weight: bold;
                margin-right: 5px;
            }

            .date {
                margin-right: 5px;
            }
            
            .github {
                height: 20px;
                width: 20px;
                display: pointer;
            }
        }

        ul {
            padding-left: 30px;
            margin-top: 5px;
        
            li { 
              padding-left: 5px;
              margin-top: 5px;
              position: relative;
          
              /* &::marker {} */
              
              &:before {
                content: '';
              }
          
              &.New{
                  &::marker {
                      color: primary_2;
                  }
              } 
          
              &.Fix{
                  &::marker {
                      color: error_1;
                  }
              } 

              &.Update{
                &::marker {
                    color: primary_3;
                }
              }
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .changlelog {
        display: none;
    }
}

@media screen and (min-width: 626px) {
    .image {
        height: 600px;
    }
}

@media screen and (min-width: 600px) and (max-width: 625px) {
    .paper {
        height: 410px;
        width: 150px;
        left: calc(50% - 95px);
        top: calc(50% - 170px);
    }
}

@media screen and (min-width: 550px)  and (max-width: 599px) {
    .paper {
        height: 385px;
        width: 130px;
        left: calc(50% - 80px);
        top: calc(50% - 158px);
    }
}
  
@media screen and (min-width: 500px)  and (max-width: 549px) {
    .paper {
        height: 360px;
        width: 130px;
        left: calc(50% - 80px);
        top: calc(50% - 150px);
    }
}

@media screen and (min-width: 450px)  and (max-width: 499px) {
    .paper {
        height: 320px;
        width: 110px;
        padding-left: 12px;
        left: calc(50% - 70px);
        top: calc(50% - 135px);
    }
}

@media screen and (min-width: 400px)  and (max-width: 449px) {
    .paper {
        height: 285px;
        width: 100px;
        padding-left: 7px;
        left: calc(50% - 60px);
        top: calc(50% - 120px);
    }
}

@media screen and (max-width: 399px) {
    .paper {
        height: 250px;
        width: 80px;
        padding-left: 5px;
        left: calc(50% - 50px);
        top: calc(50% - 105px);
    }

    .content {
        font-size: 0.6rem;
    }    
}