/* :root {} */

html {
  tab-size: 4;

  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  margin: 0;
}


a {
  color: unset;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


@media print {
  a {
    font-size: 1px;
    letter-spacing: -1px;
    visibility: hidden;
  }

  a::after {
      content: attr(href);
      visibility: visible;
      font-size: 1rem;
      letter-spacing: normal;
  }
}