@value colors: "../../variables.css";
@value error_1, white_1 from colors;

.component {
    width: 100%; 
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.image {
    width: 100%; 
    display: block;
    object-fit: contain;
    flex: 1;
}

.placeholder {
  opacity: 0.5;
    /* width: 100%;  */
  width: 75%; 
  display: block;
  object-fit: contain;
  flex: 1;
}

.loader {
  width: 48px;
  height: 48px;
}