@value colors: "../../variables.css";
@value primary_2, error_1 from colors;

.page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    height: 30%;
    color: primary_2;
    position: relative;

    .error{
        position: absolute;
        bottom: 10px;
        color: error_1;
    }
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin-bottom: 2.5rem;
}

.loginBtn {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100px;
}

.footer {
    height: 40px;
}

.providers {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.providers img {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.hints {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.signUpLink {
    color: primary_2;
    margin-left: 5px;
}

@media screen and (min-width: 320px) {
    .content {
        width: 100%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .content {
        width: 380px;
    }
  }
  