@value colors: "../../variables.css";
@value primary_2 from colors;

.page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    height: 30%;
    color: primary_2;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
}

.input {
    height: 40px;
    margin-bottom: 15px;
}

.loginBtn {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
}

.footer {
    height: 40px;
}

.providers {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.providers img {
    height: 40px;
    width: 40px;
}

.hints {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}